<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SqlSecurityDB"
      connectionString="server=aura.students.cset.oit.edu;database=joemoore;user id=joemoore;password=joemoore;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <siteMap defaultProvider="SecuredSiteMap">
      <providers>
        <add name="SecuredSiteMap"
             type="System.Web.XmlSiteMapProvider"
             siteMapFile="~/Web.sitemap"
             securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
  </system.web>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" defaultUrl="~/Account/ViewProfilePage.aspx"></forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <membership defaultProvider="SqlMembership">
      <providers>
        <add
          name="SqlMembership"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="SqlSecurityDB"
          applicationName="CST465"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="true"
          requiresUniqueEmail="true"
          passwordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager defaultProvider="SqlRoles" enabled="true">
      <providers>
        <add name="SqlRoles"
             type="System.Web.Security.SqlRoleProvider"
             applicationName="CST465"
             connectionStringName="SqlSecurityDB" />
      </providers>
    </roleManager>
    <pages enableSessionState="true"></pages>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <location path="Account">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow users="Admins" />
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx" >
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>